/* Inicio de estilo para ESCRITORIO */

* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.5px;
  word-spacing: 1.5px;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(rgba(5, 7, 12, 0.4), rgba(5, 7, 12, 0.4)), url(./imagenes/Fondo01.jpg) no-repeat center center fixed;
  background-size: cover;
}

.titulo-seccion {
  font-family: 'Proza Libre', sans-serif;
  font-size: 28px;
  margin: 16px 0;
  color: #072d4f;
  text-shadow: 0.5px 0.5px 3px #fff;
}

.contenedor-principal {
  min-height: 70vh;
  background: rgba(5, 7, 12, 0.5);
  border-right: 1px solid #072d4f;
  border-left: 1px solid #072d4f;
  font-family: 'Poppins', sans-serif;
  width: 80%;
  color: #fff;
  text-shadow: 2px 2px 6px #072d4f;
}

h3 {
  font-size: 20px;
  color: #b7d6e7;
  text-shadow: 2px 2px 3px #000;
}

h4 {
  margin: 16px 0;
}

/* Fin de estilo para ESCRITORIO */


/* Inicio de estilo RESPONSIVE para CELULAR */

@media screen and (max-width: 480px) { 

  .titulo-seccion {
    font-family: 'Proza Libre', sans-serif;
    font-size: calc(28px * 0.7);
    margin: 12px 0;
    text-shadow: 0.5px 0.5px 2px #fff;
  }
  
  .contenedor-principal {
    font-size: 12px;
  }
  
  h3 {
    font-size: calc(20px * 0.7);
  }
  
  h4 {
    margin: 12px 0;
  }

}

/* Fin de estilo RESPONSIVE para CELULAR */


/* Inicio de estilo RESPONSIVE para TABLET */

@media only screen and (min-width: 481px) and (max-width: 1024px) {

  .titulo-seccion {
    font-size: calc(28px * 0.9);
    margin: 14px 0;
    text-shadow: 0.5px 0.5px 2px #fff;
  }
  
  .contenedor-principal {
    font-size: 14px;
  }
  
  h3 {
    font-size: calc(20px * 0.9);
  }
  
  h4 {
    margin: 14px 0;
  }

}

/* Fin de estilo RESPONSIVE para TABLET */